.workstreams {
  padding: 4rem 0 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
  }
}
